.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 320px;
    height: auto;
    margin-top: 100px;
}

#dots {
    position: absolute;
    right: 115px;
    top: -83px;
    width: 25px;
}

#signin {
    background-color: #4285F4;
    color: white;
    width: 70px;
    height: 30px;
    font-weight: bold;
    border-radius: 2px;
    border: none;
    position: absolute;
    right: 28px;
    top: 16px;
    
}

ul {
    list-style-type: none;
    width: 60px;
    display: inline;
}

li {
    display: inline;
    color: black;
    float: left;
    margin-top: 15px;
    margin-left: 12px;
    font-family: sans-serif;
    font-size: 13px;
}


a {
    padding: 3px;
}

#mid {
    padding-right: 1070px;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: black;
}

input[type=text] {
    margin-top: -20px;
    width: 570px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid lightgray;
}

#search {
    margin-top: 36px;
    margin-left: 558px;
}

.search {
    width: 140px;
    height: 35px;
    border-width: 0px;
    border-radius: 5px;
    color: rgb(68, 68, 68);

}

#mag {
    position: absolute;
    width: 23px;
    bottom: 445px;
    left: 445px;
}

#mic {
    width:23px;
    position: absolute;
    bottom: 443px;
    left: 970px;
}