.container-1 {
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}

.container-1 div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    margin-top: 5px;
}

.box-1, .box-2, .box-4, .box-5, .box-6, .box-7 {
    width: 50px;
    flex-shrink: 0;
}

.box-3 {
    flex:18;
}

#mingu {
    border: 0.1px rgb(148, 148, 148) hidden;
    border-radius: 50%;
    width: 31px; 
    margin-top: 2px;
}

.container-2 {
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    height: 230px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.box-google {
    flex: 1;
}

.search {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 570px;
    height: 43px;
    border: 1px lightgray solid;
    border-radius: 30px;
    background: url("../assets/mag.png") left 8px center no-repeat, url("../assets/mic.png") right 8px center no-repeat;
    background-size: 23px;
}

.search:hover {
    box-shadow: 0px 2px 2px 0px rgba(95, 95, 95, 0.2);
}

input[type=text] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 470px;
    height: 32px;
    font-size: 16px;
    margin-top: 3px;
    border: none;
}

@media screen and (max-width: 600px) {
    input[type=text] {
        width: 85%;
    }
    .search {
        width: 85%;
    }
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

.container-3 #mag {
    position: relative; top: -69px; right: 263px;
}


.container-3 #mic {
    position: relative; top: -136px; right: -258px;
}


.container-4 {
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}

.container-4 div {
    margin-top: 25px;
}

.buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.google-search {
    font-family: 'Roboto', sans-serif;
    font-size: 14.5px;
    color: #1f1f1f;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 140px;
    background-color: #f8f8f8;
    color: rgb(100, 100, 100);
    margin-right: 3px;
    margin-top: 15px;
}

button:hover {
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


.feel-lucky {
    font-family:'Roboto', sans-serif;
    font-size: 14.5px;
    color: #1f1f1f;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 140px;
    background-color: #f8f8f8;
    color: rgb(100, 100, 100);
    margin-left: 3px;
}


.container-5 {
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}

.container-5 div {
    height: 325px;
}


.container-6 {
    /* display: flex; */
    display: grid;
    border-top: 0.1px rgb(231, 231, 231) solid;
    grid-template-columns: 85px 85px 120px auto 70px 70px 70px;
    grid-template-areas: 
        "top top top top"
        "bottom bottom bottom bottom";
    justify-items: center;
    grid-column-gap: 5px;
    background-color: #F2F2F2;
    width: 100%;
    position: absolute;
    right:0;
    bottom:0;
    height: 5.5%;
}

@media screen and (max-width: 500px) {
    .container-6 {
        grid-template-columns: auto auto auto 0fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "bottom bottom bottom"
            "top top top top";
        position: absolute;
        right:0;
        bottom: 0;
        height: 11%;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        row-gap: 0px;
    }
}

.container-6 div {
    height: 28px;
    margin-top: 13px;
}

.fbox-1 {
    margin-left: 20px;
    
}

.fbox-6 {
    margin-right: 12px;    
}

.fbox-7 {
    margin-right: 25px;
}

a {
    text-decoration: none;
    color: rgb(92, 92, 92);
    font-family:'Roboto', sans-serif;
    font-size: 12.5px;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
    color: rgb(54,54,54);;
}

#footer {
    font-size: 14px;
}
